* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .clock {
      position: relative;
      width:30rem;
      height: 30rem;
      border-radius: 50%;
      background: white;
      box-shadow: inset 0 0 10px gray;
      border: 10px solid black;
      text-align: center;
  }

  .clock .marker {
      position: absolute;
      width: 30px;
      height: 100%;
      color: white;
      text-shadow: 0px 0px 4px #2d1515b0, 0px 0px 10px grey;
      font-size: 34px;
      font-weight: 600;
      z-index: 0;
      left: 47%;
  }

  .marker.one {
    /* transform: rotate(30deg); */
    top: 26px;
    left: 320px;
  }
  .marker.two {
    /* transform: rotate(60deg); */
    top: 104px;
    left: 400px;
  }
  .marker.three {
    /* transform: rotate(90deg); */
    top: 210px;
    left: 430px;
  }

  .marker.fourt {
    /* transform: rotate(120deg); */
    top: 314px;
    left: 400px;
  }
  .marker.five {
    /* transform: rotate(150deg); */
    top: 392px;
    left: 320px;
  }
  .marker.six {
    /* transform: rotate(180deg); */
    top: 418px;
    left: 215px;
  }

  .marker.seven {
    /* transform: rotate(210deg); */
    top: 392px;
    left: 112px;
  }
  .marker.eigth {
    /* transform: rotate(240deg); */
    top: 314px;
    left: 32px;
  }
  .marker.nine {
    /* transform: rotate(270deg); */
    top: 210px;
    left: 0px;
  }

  .marker.ten {
    /* transform: rotate(300deg); */
    top: 104px;
    left: 32px;
  }
  .marker.eleven {
    /* transform: rotate(330deg); */
    top: 26px;
    left: 112px;
  }
  .marker.twelve {
    /* transform: rotate(360deg); */
    top: 0;
    left: 215px;
  }

  .clock-face {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: white;
    z-index: 1;
    top: 10%;
    left: 10%;
  }

  .clock-face::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 18px;
    margin-left: -8px;
    margin-top: -8px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 30px blue;
  }

  .hand, .hand.hour-hand {
    position: absolute;
    width: 4px;
    height: 30%;
    top: 20%;
    left: 50%;
    margin-left: -1px;
    background: black;
    transform-origin: bottom;
    transform: rotate(0deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: -1;
    box-shadow: 0 0 3px gray
  }

  .hand.min-hand {
      height: 45%;
      top: 5%;
      width: 5px;
      margin-left: -1.5px;

  }

  .hand.second-hand {
      height: 50%;
      top: 0;
      width: 2px;
      margin-left: 0;
      background: red;
    }
